<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Flask Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/service">Service</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="block">
            <a href="/student_details"><button class="arrow-btn">→</button></a>
            <h2>Student Details</h2>
        </div>
        <div class="block">
            <a href="/student_marks"><button class="arrow-btn">→</button></a>
            <h2>Student Marksheet</h2>
        </div>
        <div class="block">
            <a href="/student_skills"><button class="arrow-btn">→</button></a>
            <h2>Student Skills</h2>
        </div>
        <div class="block">
            <a href="/student_poy"><button class="arrow-btn">→</button></a>
            <h2>Student Passed-out Year</h2>
        </div>
    </section>
</body>
</html>
